{% extends 'main.html' %}

{% block content %}
    <h3 class="green my-3">Messe de 11h30 à Saint-Joseph</h3>

    <div class="col-8 mt-3">
        <table class="table table-striped table-bordered">
            <tr class="text-center">
                <td class="col-3 font-weight-bold">Jour</td>
                <td class="col-3 font-weight-bold">Célébrant</td>
                <td class="col-3 font-weight-bold">Servant</td>
                <td class="col-2 font-weight-bold"></td>
            </tr>
            {% for day in days %}
                <tr>
                    <td class="font-weight-bold">{{ day.date_french }}</td>
                    <td>{{ day.father|default_if_none:'' }}</td>
                    <td>{{ day.brother|default_if_none:'' }}</td>
                    <td class="text-center font-weight-bold"><a href={% url 'main:update' day.pk %}>Je m'inscris !</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
